/* Estilos para el maquetado de la página */
#container {
	width: 880px;
	height: 862px;
	margin-top: -8px;
	margin-left: -10px;
	margin-right: -10px;
	border: 3px solid #ddd;
	background-color: #ddd;
}

#header {
	height: 186px;
}

#sidebar {
	background-color: #f5f5ee;
	border-right: 3px solid #ddd;
	float: left;
	width: 150px;
	height: 450px;
}

#menu {
	background: url("../img/fondo_menu.png") repeat-x;
	float: left;
	width: 100%;
	height: 56px;
}

#content {
	background: #f5f5ee;
	float: left;
	width: 720px;
	height: 450px;
	overflow: auto;
	padding-left: 5px;
}

#footer {
	background: #3b3939 url("../img/footer.png") repeat-x;
	width: 100%;
	height: 140px;
	font-family: sans-serif;
	font-size: 100%;
	padding: 28px 0 5px 0;
	text-align: center;
	color: #a8aa94;
	clear: both;
}

#sombra {
	background: #CCCCCC; /* Color de la sombra */
	border: solid 3px #CCCCCC; /* Color del borde */
	width: 877px;
	height: 862px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

.formulario {
	margin-top: 15px;
	margin-bottom: 3px;
	margin-left: 5px;
}

#resaltar {
	background-color: white;
	width: 95%;
	margin-left: 5px;
	padding: 1px 0px 5px 5px;
	float: left;
}

#resaltar:hover {
	background-color: #CCCCCC;
}

#mensaje {
	visibility: hidden;
	border: 1px solid #ddd;;
	float: right;
	width: 40%;
	margin-right: 3px;
}

#resaltar:hover #mensaje {
	visibility: visible;
	border: 1px solid #ddd;;
	float: right;
	width: 40%;
	margin-right: 3px;
}

.errorMessage {
color: red;
font-size: 0.8em;
text-align: left;
}

.codTel{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
/*
*Menu Vertical
*/
.main_cont
{
float:left;
width:147px;
background-color:#4d7986;
padding:10px;
}

.menu_top_bg
{
width:138px;
background:url(../img/menu_top_bg.gif) repeat-x;
height:22px;
padding-top:8px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
text-align:center;
margin-bottom:1px;
}

.sub_menu ul
{
padding:0px;
margin:0px;
}

.sub_menu ul li
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFFFFF;
line-height:32px;
border-bottom:1px dotted #93bcc3;
list-style-type:none;
text-indent:8px;
padding: 0;
}

.sub_menu ul li a
{
text-decoration:none;
color:#FFFFFF;
}

.sub_menu ul li a.selected
{
background:url(../img/selected.png) no-repeat;
float:left;
width:150px;
height:32px;
}


/*
Efecto tooltip

*/

.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	cursor: help; text-decoration: none;
	position: relative;
}
.tooltip span {
	margin-left: -999em;
	position: absolute;
}
.tooltip:hover span {
	
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 1em; top: 2em; z-index: 99;
	margin-left: 0; width: 250px;
}
.tooltip:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position:relative
}
.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }


.enlace a{
	font-style: normal;
}

