#box-link {
	position: absolute;
	width: 760px;
	height: 210px;
	background-color: transparent;
}

.container {
	width: 960px;
	background: #fff;
	clear: both;
	margin: 0 auto;
	padding: 0 0 8px;
	overflow: hidden;
	position: relative;
}

.logo {
	background: url("../images/logoIzquierda.png") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 58px;
	width: 209px;
	margin: 10px 0 0 10px;
}

.busqueda {	
	float: left;
	height: 25px;
	width: 256px;
	margin: 0 10px 0 0;
	padding: 0 1px 0 10px;
}

.cerrar {
	margin: 10px;
}


.content {
	width: 965px;
}

.main { /*border-right:1px solid #ccc;*/
	float: left;
	width: 660px;
	margin: 0 0 0 10px;
	padding: 0 5px 0 0;
}

.main_user {
	float: left;
	width: 270px;
	margin: 0 0 10px 0;
}

.paginado  li {
	clear: none
}


div.paginado {
	width: 324px;
	height: 25px;
	background: #e3e3e3;
	margin: 0;
}

div.paginado li {
	float: left;
	width: 18px;
	height: 18px;
	text-align: center;
}

div.paginado li a {
	width: 15px;
	height: 15px;
	background: #e3e3e3;
	float: left;
	display: block;
	text-decoration: none;
	color: #999;
	margin: 5px;
}

div.paginado li a:hover {
	width: 15px;
	height: 15px;
	color: #AB0009;
	background: #fff;
}


.temas_de_interes,.paso_a_paso {
	width: 339px;
	height: 210px;
	margin: 15px 0 0;
}

.paso_a_paso {
	height: 230px;
}

.paso_a_paso a,.temas_de_interes a {
	border-bottom: 1px solid #E3E3E3;
	color: #8E8E8E;
	display: block;
	font-size: 15px;
	height: 20px;
	text-decoration: none;
	padding: 10px 10px 10px 15px;
}

.paso_a_paso a:hover,.temas_de_interes a:hover {
	background: url("../images/bullet_flecha_gris.png") left 15px no-repeat;
}

.sidebar {	
	float: right;	
	width: 250px;
}

.sidebar h1 {
	color: #1A5398;
	font-size: 16px;
	font-weight: 400;
}

.sidebar h1 a {
	color: #777;
	float: right;
	width: 43px;
	font-size: 9px;
	font-style: italic;
	text-decoration: none;
	text-transform: uppercase;
	margin: 5px 10px 0 0;
}

.sidebar table {
	border-spacing: 0px;
}

.sidebar td {
	padding-left: 2px;
}

.sidebar .galeria li {
	float: left;
	margin: 0 5px 0 0;
}

.banner_sidebar img {
	width: 260px;
	margin: 0 0 5px 5px;
}

.ingresar {	
	position: relative;
	width: 250px;
	margin-top: 10px;
}

.ingresar form {
	width: 260px;
	height: 80px;
	/*margin: 20px auto;*/
}

.ingresar form label {
	float: left;
	font-size: 11px;
	width: 85px;
	margin: 6px 0 0;
}

.ingresar form input {
	font-family: sans-serif;
	float: left;
	width: 160px;
	border: 1px solid #c6c6c6;
	color: #666;
	font-size: 11px;
	margin: 0 0 8px;
	padding: 3px 0 2px 3px;
}

.ingresar form input.submit {
	float: right;
	border: none;
	background: none;
	font-size: 10px;
	font-style: italic;
	color: #1A539A;
	display: block;
	width: 70px;
	font-family: sans-serif;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

#recuperaContrasenaCont {
	background: none repeat scroll 0 0 white;
	border: 1px solid #E3E3E3;
	height: 120px;
	left: 0;
	position: absolute;
	top: 36px;
	width: 268px;
}

#recuperaContrasenaCont a {
	float: right;
	margin: 5px;
	color: #666666;
	float: right;
	margin: 5px;
	text-decoration: none;
}

#recuperaContrasenaCont label {
	float: left;
	font-size: 11px;
	margin: 6px 0;
	width: auto;
}

#recuperaContrasenaCont #email {
	clear: both;
	width: 205px;
}

#recuperaContrasenaCont #enviar {
	height: 21px;
	margin: 0 0 0 5px;
	width: auto;
	cursor: pointer
}

#galeria_carrucel li,#video_carrucel li {
	float: left;
	margin: 0 10px 0 0;
}

.ingresar h1,.gobierno_en_linea h1,.tramites_mas_consultados h1,.foro h1,.galeria h1
	{
	padding: 10px;
}

.ingresar h1 span,.gobierno_en_linea h1 span,.tramites_mas_consultados h1 span,.foro h1 span,.galeria h1 span
	{
	float: left;
	width: 195px;
}


.RutaNavegacion {
	border-color: #CCCCCC;
	border-style: dotted solid;
	border-width: 1px;
	float: left;
	font-size: 12px;
	padding: 6px 0 5px 5px;
	width: 682px;
}

.RutaNavegacion a {
	background: url("../images/flecha_derecha.png") right center no-repeat;
	border: 1px none #CCC;
	color: #666;
	float: left;
	font-weight: 700;
	margin: 0 6px 0 0;
	padding: 0 15px 0 0;
}

.RutaNavegacion a:hover {
	color: #0E2B7C;
	text-decoration: underline;
}


.Submenu {
	border: 1px solid #CCC;
	width: 681px;
	float: left;
	margin: 10px 0 8px;
	padding: 0;
	height: 165px;
	overflow: auto
}



.ul_srsi {
	width: 130px;
	list-style: none;
}

a.estilo2:link {
	color: white;
	text-decoration: none
}

a.estilo2:visited {
	color: white;
	text-decoration: none
}

a.estilo2:hover {
	color: white;
	text-decoration: none
}

a.estilo2:active {
	color: white;
	text-decoration: none
}

a.e2 :link :visited :hover :active {
	text-decoration: none;
	color: #666;
	cursor: pointer;
}

.ui-menu-content {
	list-style: none;
	padding: 0;
	border-top: 0;
	position: relative;
}

li.li-menu-content {
	border-bottom: 1px dotted #CCC;
	padding: 2px;
}

h3.h3-ui-menu-content {
	font-size: 12px;
	width: 260px;
	height: 31px;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-image: url("../images/ui-menu-content.png");
}

.error500 {
	border: 1px solid #CCC;
	float: left;
	width: 800px;
	margin: 0 0 10px;
	padding: 0 0 5px;
}

.error500 h1 {
	color: #BB2321;
	font-family: sans-serif;
	font-size: 16px;
	margin: 10px;
}

.error500 h1 {
	font-weight: 700;
	width: 780px;
	border-color: #CCC #CCC #E0E0E0;
	border-style: none none solid;
	border-width: 1px 1px 4px;
	margin: 10px 0 10px 10px !important;
	padding: 10px 0 0 !important;
}

.error500 p {
	border: 1px dotted #D4D4D4;
	color: #666666;
	font-family: sans-serif;
	font-size: 10px;
	height: auto;
	margin: 10px 10px 0 10px;
	padding: 5px;
	text-align: left;
	width: 765px;
}

/*icono de ayuda*/
a.tooltip:visited {
	text-decoration: none;
	color: transparent;
}

a.tooltip {
	text-decoration: none;
	color: transparent;
}

a.tooltip:active {
	text-decoration: none;
	color: transparent;
}

a.tooltip:hover {
	background: #ffffff;
	text-decoration: none;
} /*BG color is a must for IE6*/
a.tooltip span {
	display: none;
	width: 180px;
	padding: 2px 3px;
	font-size: small;
	margin-left: -175px;
	top: 62px;
}

a.tooltip:hover span {
	display: block;
	position: absolute;
	border: 1px solid #cccccc;
	background: #ffffff;
	color: #6c6c6c;
}

/*caja de inicio de sesión*/
.sesion_inicio {
	margin-left: 35%;
	margin-top: 5%;
	margin-bottom: 15%;
	width: 310px;
	padding: 15px;
	border: 3px solid #CECECE;
}

.sidebar_left {
	float: left;
	width: 150px;
	margin: 10px 10px;
}

.contenido {
	float: left;
	width: 690px;
	padding-left: 10px;
}

.busqueda2 {
	border: 1px solid #CCC;
	float: left;
	font-family: sans-serif;
	height: 25px;
	margin: 1px 0pt 0pt;
	width: 820px;
}

.pasos {
	border: 1px solid #CCC;
	background-color: #E4E4E4;
	float: left;
	font-family: sans-serif;
	height: 20px;
	margin: 1px 0pt 0pt;
	width: 678px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 2px;
}

.btn_form {
	background: none;
	border: none;
	font-size: x-small;
	color: blue;
	padding: 0;
	font-family: sans-serif;
	cursor: pointer;
}

.formulario {
	margin-top: 15px;
	margin-bottom: 3px;
	margin-left: 10px;
}

/*mensaje de fortaleza de contraseña*/
.error_pass {
	color: red;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.ok_pass {
	color: green;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.alert_pass {
	color: orange;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.requerido {
	color: red;
	margin: 0px;
	margin-bottom: 0;
	margin-top: 0;
}

label {
	float: inherit;
	font-family: sans-serif;
}

br {
	clear: both;
}

.error {
	color: red;
	display: block;
	font-size: 1em !important;
	font-weight: lighter;
	padding-left: 10px;
}

label.valid {
	display: block;
	width: 16px;
	height: 16px;
}

.errorMessage {
	color: red;
	font-size: 1em !important;
	font-weight: lighter;
	padding-left: 10px;
	text-align: left;
}

.pasos_lbl {
	color: #666;
	float: left;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding-top: 2px;
}

.administracion_capa {
	margin-left: 25%;
	margin-top: 26%;
	margin-bottom: 10%;
}

/*
* Estilos para la capa de categorias. 
*/
div.tab01 {
	background: #E4E4E4 none repeat scroll 0 0;
	border: 1px solid #CCC;
	border-bottom: none;
	color: #666;
	height: 28px;
	width: 140px;
	margin-top: 14px;
	display: table;
	text-align: center;
}

div.tab02 {
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	font-size: small;
}

div.tab03 {
	font-weight: bold;
}

#down .thematics {
	background: yellow;
	padding-left: 0px;
	width: 720px;
}

#down .thematics li {
	display: block;
	float: left;
	height: 72px;
	width: 212px;
	vertical-align: middle;
	margin: 3px;
}

#down .thematics li a,#down .thematics li a:link,#down .thematics li a:visited
	{
	position: relative;
	color: #12768E;
	display: block;
	/* font-size:120%; */
	font-weight: bold;
	padding-bottom: 29px;
	padding-left: 80px;
	padding-top: 29px;
}

#down .thematics li a:hover {
	color: white;
}

#down .thematics li:hover {
	background: #12768E;
}

#down .thematics img {
	margin: 0px;
}

div.middleContent {
	width: 687px;
	height: 270px;
	border: 1px solid;
	clear: left;
	border-color: #DDD;
}

.secciones {
	margin-top: 10px;
}

.Titulo_width_user {
	width: 668px;
}

.busqueda_width_user {
	width: 212px;
	margin-top: 4px;
}

/* Estilos para el menú de usuario */
.m_a {
	font-family: sans-serif;
	margin-top: 2px;
}

.m_a ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 245px;
}

.m_a ul li {
	margin: 0;
	padding: 0;
	display: block;
}

.m_a_top {
	padding-top: 3px;
}

.m_a_fondo {
	background: url("../images/ui-menu-content.png");
	background-repeat: repeat-x;
}

.m_a_titulo {
	padding-top: 6px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-decoration: none;
	color: #666;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.m_a_item {
	width: 180px;
	border: 0;
	padding-left: 20px;
	padding-top: 9px;
	display: block;
	text-decoration: none;
	color: #999 !important;
	font-size: 11px;
	height: 23px;
	font-family: sans-serif;
	font-weight: normal;
	border-bottom: 1px dotted #CCC;
}

.m_a_desplegar {
	color: #CCC;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
	float: right;
}

.nivel2 {
	width: 180px;
	padding-left: 20px;
}

.nivel3 {
	padding-left: 30px;
}

.m_a ul li ul {
	display: none;
}

.form_small {
	font-size: 11px;
	padding-left: 10px;
}

.enlace_home {
	float: left;
	font-size: 12px;
	padding: 6px 0 5px 5px;
}

.enlace_home a {
	color: #1A5398;
	float: left;
	font-weight: 700;
	margin: 0 6px 0 0;
	padding: 0 15px 0 0;
}

.enlace_home a:hover {
	color: #0E2B7C;
	text-decoration: underline;
}

.btn_menu {
	background: transparent;
	color: #999 !important;
	font-size: 11px;
	height: 34px;
	font-family: sans-serif;
	font-weight: normal;
	border: 0;
	border-bottom: 1px dotted #CCC;
	padding-left: 15px;
	cursor: pointer;
}

.btn_oculto {
	display: none;
}

.width_230{
	width: 230px;
	height: 60px;
}