/* Estilos para el maquetado de la página */
#container {
	width: 880px;
	height: 862px;
	margin-top: -8px;
	margin-left: -10px;
	margin-right: -10px;
	border: 3px solid #ddd;
	background-color: #ddd;
}

#header {
	height: 186px;
}

#sidebar {
	background-color: #f5f5ee;
	border-right: 3px solid #ddd;
	float: left;
	width: 150px;
	height: 450px;
}

#menu {
	background: url("../img/fondo_menu.png") repeat-x;
	float: left;
	width: 100%;
	height: 56px;
}

#content {
	background: #f5f5ee;
	float: left;
	width: 720px;
	height: 450px;
	overflow: auto;
	padding-left: 5px;
}

#content2 {
	background: #f5f5ee;
	float: left;
	width: 870px;
	height: 450px;
	overflow: auto;
	padding-left: 5px;
}

#footer {
	background: #3b3939 url("../img/footer.png") repeat-x;
	width: 100%;
	height: 140px;
	font-family: sans-serif;
	font-size: 100%;
	padding: 28px 0 5px 0;
	text-align: center;
	color: #a8aa94;
	clear: both;
}

#sombra {
	background: #CCCCCC; /* Color de la sombra */
	border: solid 3px #CCCCCC; /* Color del borde */
	width: 877px;
	height: 862px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

.formulario {
	margin-top: 15px;
	margin-bottom: 3px;
	margin-left: 5px;
}

#resaltar {
	background-color: white;
	width: 95%;
	margin-left: 5px;
	padding: 1px 0px 5px 5px;
	float: left;
}

#resaltar:hover {
	background-color: #CCCCCC;
}

#mensaje {
	visibility: hidden;
	border: 1px solid #ddd;;
	float: right;
	width: 40%;
	margin-right: 3px;
}

#resaltar:hover #mensaje {
	visibility: visible;
	border: 1px solid #ddd;;
	float: right;
	width: 40%;
	margin-right: 3px;
}

.errorMessage {
	color: red;
	font-size: 0.8em;
	text-align: left;
}

.codTel {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
/*
*Menu Vertical
*/
.main_cont {
	float: left;
	width: 147px;
	background-color: #4d7986;
	padding: 10px;
}

.menu_top_bg {
	width: 138px;
	background: url(../img/menu_top_bg.gif) repeat-x;
	height: 22px;
	padding-top: 8px;
	font-family: Liberation Sans, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1px;
}

.sub_menu ul {
	padding: 0px;
	margin: 0px;
}

.sub_menu ul li {
	font-family: Liberation Sans, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	line-height: 32px;
	border-bottom: 1px dotted #93bcc3;
	list-style-type: none;
	text-indent: 8px;
	padding: 0;
}

.sub_menu ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

.sub_menu ul li a.selected {
	background: url(../img/selected.png) no-repeat;
	float: left;
	width: 150px;
	height: 32px;
}

.botonsubmit {
	background: none;
	border: none;
	font-size: 0.8em;
}

.main {/*
	height: none;
	width: 700 px;*/
	margin-top: 5px;
}

.main tr {
	margin: 3px;
	padding: 5px;
}

.main td {
	padding: 5px;
}

/*icono de ayuda*/
a.tooltip:visited {
	text-decoration: none;
	color: transparent;
}

a.tooltip {
	text-decoration: none;
	color: transparent;
}

a.tooltip:active {
	text-decoration: none;
	color: transparent;
}

a.tooltip:hover {
	background: #ffffff;
	text-decoration: none;
} /*BG color is a must for IE6*/
a.tooltip span {
	display: none;
	padding: 2px 3px;
	margin-left: 8px;
	width: 180px;
	font-size: small;
}

a.tooltip:hover span {
	display: inline;
	position: absolute;
	border: 1px solid #cccccc;
	background: #ffffff;
	color: #6c6c6c;
}

a.footer {
	color: #cccccc;
}

a.footer:hover {
	background: #ffffff;
	color: #6c6c6c;
}

/*mensaje de fortaleza de contraseña*/
.error_pass {
	color: red;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.ok_pass {
	color: green;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.alert_pass {
	color: orange;
	font-size: small;
	margin-bottom: 0;
	margin-top: 0;
}

.requerido {
	color: red;
	margin: 0px;
	margin-bottom: 0;
	margin-top: 0;
}

/*tabla de links*/
.links {
	font-family: sans-serif;
	font-size: x-small;
	border: 2px solid #02cadc;
	border-spacing: 0px;
	width: 148px;
	color: #a8aa94;
	text-decoration: none;
}

.links th {
	border-top: 1px dotted #cccccc;
	padding: 2px;
	background-color: #3b3939;
}

.links th:HOVER {
	padding: 2px;
	background-color: #cccccc;
	color: blue;
}

.links th:HOVER a {
	color: blue;
}

.links td {
	border-top: 1px dotted #cccccc;
	padding: 2px;
	background-color: #3b3939;
}

.links td:HOVER {
	padding: 2px;
	background-color: #cccccc;
}

.links td:HOVER a {
	color: blue;
}

.links a {
	text-decoration: none;
	width: 140px;
	display: block;
}

.links a:LINK {
	color: #a8aa94;
}

.links a:HOVER {
	color: blue;
	text-decoration: underline;
}

.links a:VISITED {
	color: #a8aa94;
}

/*tabla de resultados*/
.results {
	width: 650px;
	padding: 0;
	margin: 0;
	border: 1px solid #e0e0e0;
	font-size: 13px;
}

.results th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #e0e0e0;
	text-align: center;
}

.results td {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

.results tr {
	background: #F5FAFA;
	color: #797268;
}

.results tr:HOVER {
	background: #c5e1e8;
}

.results a {
	text-decoration: none;
	padding: 0;
	display: block;
}

.results a:HOVER {
	text-decoration: underline;
}

.results a:VISITED {
	color: blue;
}

.alt {
	background: #e0e0e0;
	text-align: right;
	width: 200px;
	font-size: small;
}

.alt2 {
	background: #f5f5ee;
	text-align: left;
	font-size: small;
	font-weight: bold;
	color: blue;
}

label {
	float: inherit;
	font-family: sans-serif;
}

br {
	clear: both;
}

label.error {
	color: #ff0000;
	display: block;
	font-size: .7em !important;
	font-weight: lighter;
	padding-left: 10px;
}

label.valid {
	display: block;
	width: 16px;
	height: 16px;
}

.sidebar_left {
	float: left;
	width: 150px;
}
