a.tb_a {
	color: #c75f3e;
}

.tb {
	width: 600px;
	padding: 0;
	margin: 0;
	border: 1px solid #e0e0e0;
}

th.tb_th {
	font-size: 11px;
	color: white;
	border-right: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #12768E;
}

td.tb_td {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 6px 6px 6px 12px;
	color: #12768E;
}

tr.tb_alt {
	background: #F5FAFA;
	color: #797268;
}

td.tb_alt {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #12768E;
	color:white;
	text-align: right;
	width: 180px;
	padding-right: 10px;
}

td.tb_alt_f {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #12768E;
	color:white;
	text-align: right;
	width: 100px;
	padding-right: 10px;
}

.txt_small {
	font-family: sans-serif;
	font-size: 8pt;
	font-style: italic;
	font-weight: bold;
}

/*tabla de resultados*/
.results {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid #e0e0e0;
}

.results th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #e0e0e0;
	text-align: center;
}

.results td {
	border-bottom: 1px solid #E0E0E0;
	padding: 6px 6px 6px 12px;
	/* color: #4f6b72; */
}

.results tr {
	background: #F5FAFA;
	color: #797268;
}

.results tr:HOVER {
	background: #c5e1e8;
}

.results a {
	text-decoration: none;
	padding: 0;
	display: block;
}

.results a:HOVER {
	text-decoration: underline;
}

.alt {
	background: #12768E;
	text-align: right;
	width: 135px;
	font-size: small;
	font-weight: bold;
	color: white;	
	vertical-align: middle;
}

.alt2 {
	background: #f5f5ee;
	text-align: left;
	font-size: small;
	color: #12768E;
}

.alt3 {
	background: #12768E;
	text-align: right;
	width: 220px;
	font-size: small;
	font-weight: bold;
	color: white;	
	vertical-align: middle;
}

.results_width_user {
	width: 690px;
}

.results_width_user_datos {
	width: 560px;
}

.results_width_user_detalles {
	width: 680px;
}

.results_width_user_fx {
	width: 695px;
}