a.tb_a {
	color: #c75f3e;
}

.tb {
	width: 650px;
	padding: 0;
	margin: 0;
	border: 1px solid #e0e0e0;
}


th.tb_th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #e0e0e0;
}


td.tb_td {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

tr.tb_alt {
	background: #F5FAFA;
	color: #797268;
}

td.tb_alt {
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #e0e0e0;
	text-align: right;
	width: 200px;	
}

.txt_small{	
	font-family: sans-serif;
	font-size: 8pt;
	font-style: italic;
	font-weight: bold;	
}