#tree {
	overflow: auto;	
	font-size: 16px;
}

#tree thead {
	background: url("../images/bg-table-thead.png") repeat-x scroll left top
		#AAAAAA;
}

#tree thead th {	
	font-weight: bolder;
	padding-left: 1em;
	text-align: left;
	background-color: #12768E;
	color:white;
	text-align: center;
	font-family: sans-serif;
	font-size: 11px;
}

#tree tbody td {
	font: 75% sans-serif;
	padding-left: 1.3em;
}

#tree span {
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0.2em 0 0.2em 1.5em;
}

#tree span.folder {
	background-image: url("images/folder.png");
}

#tree span.file {
	background-image: url("images/page_white_text.png");
}

#tree span.rar {
	background-image: url("images/rar.png");
}
