.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 98%;
	background: #fff;
	margin-bottom: 20px;
	height: 310px;
	overflow-y: auto;
}

.tab_description {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left;
	width: 98%;
	background: #fff;
}

.tab_description_left {
	float: left;
	width: 78%;
	padding-bottom: 10px;
	padding-left: 10px;
}

.tab_description_right {
	float: right;
	width: 20%;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Define el ancho de las tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 98%;
}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Sustrae 1px de la altura de la lista desordenada--*/
	line-height: 31px;
	/*--Alineamiento vertical del texto dentro de la tabla--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Desplaza los item de la lista abajo 1px--*/
	overflow: hidden;
	background: #e0e0e0;
}

ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 0 10px;
	border: 1px solid #fff;
}

ul.tabs li a:hover {
	background: #ccc;
	text-decoration: underline;
}

ul.tabs li input:hover {
	background: #ccc;
	text-decoration: underline;
}

ul.tabs li:hover {
	background: #ccc;
	text-decoration: underline;
}

html ul.tabs li.active,html ul.tabs li.active a:hover {
	/*--Estate seguro de que a la tab activa no se le aplicarán estas propiedades hover--*/
	background: #fff;
	border-bottom: 1px solid #fff;
	/*--Esto hace que la tab activa esté conectada con respecto a su contenido--*/
}

/* A partir de aquí están los estilos de la paginación. */
ul#pagination-flickr {
	border: 0;
	margin: 0;
	padding: 0;
}

#pagination-flickr li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}

#pagination-flickr a {
	border: solid 1px #DDDDDD;
	margin-right: 2px;
}

#pagination-flickr .previous-off,#pagination-flickr .next-off {
	color: #666666;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

#pagination-flickr .next a,#pagination-flickr .previous a {
	font-weight: bold;
	border: solid 1px #FFFFFF;
}

#pagination-flickr .active {
	color: #ff0084;
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}

#pagination-flickr a:link,#pagination-flickr a:visited {
	color: #0063e3;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

#pagination-flickr a:hover {
	border: solid 1px #666666;
}

.pagination {
	float: left;
	width: 300px;
	bottom: 12px;
}

.tab_container_height {
	height: 450px;
}

.tab_submit {
	margin-top: 11%;
	margin-left: 21%;
}

.tab_description_io {
	border-top: none;
	clear: both;
	float: left;
	width: 98%;
	background: #fff;
}